#header {
    height: 10vh;
}

#main {
    height: 80vh;
}

#footer {
    height: 10vh;
}


p {
    font-size: 1.25em;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

div .skewY {
    transform: skewY(10deg);
}

a {
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.transicion {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}

.transicion:hover {
    background-color: rgb(6, 187, 187);
    cursor: pointer;
}

.btn {
    text-decoration: underline overline #000000;
}

.animacion {
    background-color: white;
    animation-name: example;
    animation-duration: 30s;
    margin: 20px;

}


@keyframes example {
    from {
        background-color: rgb(167, 167, 167);
    }

    to {
        background-color: rgb(219, 219, 219);
    }
}